@media (max-width: 2000px) {
  /*  .section4 .swiper__image {
    width: 242px !important ;
  } */
  .col1,
  .col2 {
    width: calc(33% - 15px) !important;
  }
  .col11,
  .col21 {
    width: calc(33% - 15px) !important;
  }
  /*   .section4 .swiper__slide {
    width: 300px !important;
  } */
}
@media (max-width: 1440px) {
  html {
    overflow-x: hidden !important;
  }

  .col1,
  .col2 {
    width: calc(33% - 15px) !important;
  }
  .col11,
  .col21 {
    width: calc(33% - 15px) !important;
  }
}
@media (min-width: 800px) {
  .section4_title {
    font-size: 40px !important;
  }
}
@media (width: 1440px) {
  .hero_column2::after {
    display: block !important;
  }
}
@media (max-width: 1500px) {
  .section4__container {
    max-width: 1198px !important;
  }
}
@media (max-width: 1300px) {
  .section4__container {
    max-width: 940px !important;
  }
}
@media (max-width: 1100px) {
  .section4__container {
    max-width: 850px !important;
  }
}
@media (max-width: 968px) {
  .section4__container {
    max-width: 700px !important;
  }
}

@media (max-width: 876px) {
  .section4__container {
    max-width: 550px !important;
  }
}
@media (max-width: 660px) {
  .section4__container {
    max-width: 470px !important;
  }
}
@media (max-width: 570px) {
  .section4__container {
    max-width: 380px !important;
  }
}
@media (max-width: 480px) {
  .section4__container {
    max-width: 360px !important;
  }
}
@media (max-width: 450px) {
  .section4__container {
    max-width: 320px !important;
  }
}
@media (max-width: 420px) {
  .section4__container {
    max-width: 240px !important;
  }
}
@media (max-width: 390px) {
  .section4__container {
    max-width: 220px !important;
  }
}
@media (max-width: 420px) {
  .section4_title {
    font-size: 20px !important;
  }
}

@media (max-width: 1402px) {
  .hero_column2::after {
    transform: scale(0.89);
  }
  .section8_context {
    width: unset !important;
  }
  .section8_row {
    row-gap: 15px !important;
  }
}
@media (max-width: 1400px) {
  /*  .section4 .swiper-wrapper {
    column-gap: 107px !important;
  }
  .section4 .swiper-wrapper {
    max-width: 995px !important;
  }
  .section4 .swiper__slide {
    width: 260px !important;
  } */
}
@media (max-width: 1320px) {
}
@media (max-width: 1290px) {
  .section9_span1:before,
  .section9_span1:after,
  .section9_span2::before,
  .section9_span2:after,
  .section9_span3:after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .col4 {
    flex: 0 0 auto;
    width: calc(50% - 10px) !important;
  }
}
@media (max-width: 1199.55555555px) {
  .hero_column2::after {
    display: none !important;
  }
  .section1 {
    height: 1200px !important;
  }
  .col1,
  .col2 {
    width: calc(50% - 10px) !important;
  }
  .col11,
  .col21 {
    width: calc(50% - 10px) !important;
  }
  .section3 {
    height: 500px !important;
  }
  .section5 {
    height: 800px !important;
  }
  .section8_context1 {
    width: unset !important;
  }
  /*   .section8_title {
    font-size: 65px !important;
  } */
  .section8 {
    height: 1100px !important;
  }
  .section2_row {
    height: 410px !important;
  }
  .section2_div {
    height: 500px !important;
  }
  .section7_col1 {
    display: none !important;
  }
  .section7_col2 {
    display: flex !important;
    align-items: start !important;
    justify-content: start !important;
  }
  .accordion {
    margin: 0 !important;
    display: flex !important;
    align-items: start !important;
    justify-content: start !important;
  }

  /*   .section4 .swiper-wrapper {
    column-gap: 93px !important;
  }
  .section4 .swiper-wrapper {
    max-width: 846px !important;
  }
  .section4 .swiper__slide {
    width: 220px !important;
  }
  .section4 .swiper__image {
    width: 190px !important ;
  } */ /* -312 */
}

@media (max-width: 1170px) {
}
@media (max-width: 1140px) {
}
@media (max-width: 1024px) {
}
@media (min-width: 992px) {
  .col4 {
    flex: 0 0 auto;
    width: calc(50% - 10px) !important;
  }
}
@media (max-width: 992px) {
  .section1 {
    height: 1200px !important;
  }
  .section5 {
    height: 800px;
  }
  /* .section1 {
    height: 1800px !important;
  } */
  /*   .swiper-wrapper {
    max-width: 400px !important;
  } */
  /*  .section4 .swiper__slide {
    width: 210px !important;
  }
  .section4 .swiper__image {
    width: 100px !important ;
  } 
  .section4 .swiper-wrapper {
    max-width: 516px !important;
  }
  .section4 .swiper-wrapper {
    column-gap: 94px !important;
  } */

  /*   .swiper-button-next:after {
    width: 200px !important;
  } */
  .section2 .swiper-button-prev:after {
    width: 200px;
    display: flex;
  }
  .section2 .swiper-button-next:after {
    width: 200px;
    display: flex;
  }
  .section2 .swiper-button-prev {
    left: 130px !important;
  }
  .section2 .swiper-button-next {
    right: 130px !important;
  }
  /*   .section8_title {
    line-height: 50px !important;
    font-size: 50px !important;
  } */
  .section8 {
    height: 1200px !important;
  }
  /*   .section6_text3 {
    width: 700px;
  } */
  /*   .section6_text2 {
    width: unset !important;
    font-size: 46px;
  } */
  .section6_text {
    width: unset !important;
  }
  /* .section5 {
    height: 1000px !important;
  } */
  .section3 {
    height: 700px !important;
  }
  /*   .section5_title {
    text-align: center;
  } */
}
@media (max-width: 850px) {
}
@media (max-width: 769px) {
  /*   .section8_title {
    line-height: 50px !important;
    font-size: 50px !important;
  } */
  .section8 {
    height: fit-content !important;
    padding-top: 50px;
  }
  .section9_text {
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    width: unset !important;
    margin: 0 auto !important;
  }
  .section9_text1 {
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    width: unset !important;
    margin: 0 auto !important;
  }
  .section9_div1 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section9_row {
    padding-left: 0 !important;
  }
  .section9__container {
    height: 600px;
  }
  .section9_row {
    margin: 0 auto;
  }
  .section9__container {
    align-items: center !important;
    margin: 0 auto !important;
    justify-content: center !important;
    display: flex !important;
  }
  .section1_column:hover {
    transform: none !important;
    margin-top: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .col1,
  .col2,
  .col3 {
    width: calc(100% - 10px) !important;
  }
  .col11,
  .col21,
  .col31 {
    width: calc(100% - 10px) !important;
  }
  /*   .section6_text3 {
    width: 490px;
  } */
  /*   .section6_text2 {
    font-size: 40px !important;
    width: 400px !important;
  } */
  .section6_text {
    font-size: 40px !important;
    width: 400px !important;
  }
  .section5 {
    height: 1100px !important;
  }
  .slider_image {
    width: 50% !important;
  }
  .swiper_col {
    padding-left: 50px !important;
  }
  .section2_div {
    height: 700px !important;
  }
  .slider_scroll {
    bottom: 160px !important;
  }
  .section2_div {
    height: 600px !important;
  }
  .step_pagination {
    bottom: 135px !important;
  }
  .section2 .swiper-button-prev:after {
    width: 170px !important;
    display: flex !important;
  }
  .section2 .swiper-button-next:after {
    width: 170px !important;
    display: flex !important;
  }
  .section2 .swiper-button-prev {
    left: 130px !important;
  }
  .section2 .swiper-button-next {
    right: 130px !important;
  }
}
@media (min-width: 768px) {
  .col4 {
    flex: 0 0 auto;
    width: calc(50% - 10px) !important;
  }
}
@media (max-width: 768px) {
  .step_pagination {
    bottom: 150px;
  }
  .section2_row {
    height: 500px !important;
  }
  .section2_div {
    height: 700px !important;
  }
  /* .section5_title {
    font-size: 60px !important;
    text-align: center;
  } */
  .step_pagination {
    bottom: 100px !important;
  }
  /*   .section5 {
    height: 1350px !important;
  } */
  .section8_col1 {
    display: none !important;
  }
  .section8_col12 {
    display: none !important;
  }
  .section8_col13 {
    display: none !important;
  }
  .section8_col14 {
    display: none !important;
  }
  .btn1 {
    display: block !important;
  }
  .section1 {
    height: 2000px !important;
  }
}
@media (max-width: 736px) {
}
@media (max-width: 734px) {
}
@media (max-width: 684px) {
}
@media (max-width: 667px) {
  .section8_column12 {
    margin: 0 auto !important;
  }
  .col1,
  .col2,
  .col3 {
    width: calc(100% - 50px) !important;
  }
  .col11,
  .col21,
  .col31 {
    width: calc(100% - 10px) !important;
  }
  /*   .section7_title {
    line-height: 40px !important;
    font-size: 5.5vw !important;
  } */
  .swiper_text {
    font-size: 7vw !important;
  }
  .section2__title {
    font-size: 7vw !important;
  }
}
@media (max-width: 577px) {
  /*   .hero_title {
    font-size: 60px !important;
    line-height: 70px !important;
  } */
  /*   .hero_title_span {
    line-height: unset !important;
    font-size: 60px !important;
  } */
  .hero__context {
    width: 414px !important;
  }
  .section1__container {
    max-width: 463px;
  }
  .section5_container {
    max-width: 463px;
  }
  .subfooter_div3 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .subfooter {
    height: 140px !important;
  }
  .footer_container {
    display: flex !important;
    align-items: start !important;
    flex-direction: column-reverse !important;
    justify-content: start !important;
    row-gap: 7px !important;
  }
  .footer_line {
    width: 90% !important;
    margin: 0 auto !important;
  }
  .footer {
    height: 130px !important;
  }
  .footer__col {
    row-gap: 7px !important;
    display: flex !important;
  }
  .footer_link {
    font-size: 16px !important;
  }
  .footer__col {
    display: flex !important;
    align-items: start !important;
    justify-content: start !important;
  }
}
@media (max-width: 576px) {
  /*  */
  .subfooter_div2 {
    flex-wrap: wrap !important;
    row-gap: 30px !important;
  }
  .footer_image {
    width: 150px;
  }
}
@media (max-width: 501px) {
  .section3 {
    height: 800px !important;
  }
  .section1__container {
    max-width: 423px;
  }
  .section5_container {
    max-width: 423px;
  }
  /*   .section8_title {
    font-size: 40px !important;
  } */
  .section2 .swiper-button-prev::after {
    width: 180px !important;
  }
  .section2 .swiper-button-prev {
    right: 120px !important;
  }
  .section2 .swiper-button-next::after {
    width: 180px !important;
  }
  .section2 .swiper-button-next {
    right: 120px !important;
  }
}
@media (max-width: 480px) {
  .section1 {
    height: 2200px !important;
  }
  /*   .swiper-button-prev::after {
    width: 300px !important;
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    margin: 0 auto !important;
  }
  .swiper-button-prev {
    left: 200px !important;
    bottom: 150px !important;
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    margin: 0 auto !important;
  } */
  .section2 .swiper-button-prev::after {
    width: 300px !important;
  }
  .section2 .swiper-button-prev {
    left: 200px !important;
    bottom: 150px !important;
  }
  /*   .section2 .swiper-button-next {
    left: 190px !important;
    bottom: 150px !important;
  } */

  .step_pagination {
    bottom: 240px !important;
  }
  .section2 .swiper-button-next::after {
    width: 300px !important;
  }
  .section2 .swiper-button-next {
    left: 200px !important;
    bottom: 40px !important;
  }
  .section2_div {
    height: 800px !important;
  }
  .slider_scroll {
    bottom: 300px !important;
  }
  .section5 {
    height: 1150px !important;
  }
  /* .section5_title {
    font-size: 50px !important;
    line-height: 60px !important;
  } */

  .section3_title {
    font-size: 60px !important;
  }
}
@media (max-width: 470px) {
  .section3_title {
    font-size: 50px !important;
    line-height: 60px;
  }
  .section1__container {
    max-width: 390px;
  }
  .section5_container {
    max-width: 390px;
  }
}
@media (max-width: 480px) {
  .hero_div1 {
    flex-direction: column;
    row-gap: 15px;
  }
  .section2 {
    height: 1000px !important;
  }
  .hero__btn {
    width: calc(50% + 70px) !important ;
  }
  .hero__btn1 {
    width: calc(50% + 70px) !important ;
  }
}
@media (max-width: 460px) {
  /*   .swiper-button-prev::after {
    width: 360px !important;
  }
  .swiper-button-prev {
    left: 190px !important;
    bottom: 150px !important;
  }
  .swiper-button-next::after {
    width: 360px !important;
  }
  .swiper-button-next {
    left: 190px !important;
    bottom: 150px !important;
  }
 */
  .section8_context12 {
    padding-top: 10px !important;
  }
  .subfooter_btn1 {
    font-size: unset !important;
  }
}
@media (max-width: 441px) {
  .swiper_col {
    padding-left: 25px !important;
  }
  /* .section2  */
  .hero__context {
    width: unset !important;
  }
}
@media (max-width: 440px) {
  /*   .section6_text3 {
    width: 370px;
  } */
  .section1 {
    height: 2300px !important;
  }
  /*   .hero_title {
    font-size: 40px !important;
    line-height: 55px !important;
  } */
  /*   .hero_title_span {
    font-size: 40px !important;
    line-height: 55px !important;
  } */
  .section9_text {
    font-size: 35px !important;
  }
}
@media (max-width: 440px) {
  /*   .section6_text3 {
    width: 370px;
  } */
}
@media (max-width: 415px) {
  .section2 .swiper-button-prev::after {
    width: 310px !important;
  }
  .section2 .swiper-button-prev {
    left: 190px !important;
    bottom: 150px !important;
  }
  .section2 .swiper-button-next::after {
    width: 310px !important;
  }
  .section2 .swiper-button-next {
    left: 190px !important;
    bottom: 40px !important;
  }
}
@media (max-width: 412px) {
  /*   .swiper-button-prev {
    left: 180px !important;
    bottom: 150px !important;
  } */
  /*   .swiper-button-next {
    left: 180px !important;
    bottom: 40px !important;
  } */
  .section1__container {
    max-width: 290px;
  }
  .section5_container {
    max-width: 290px;
  }
  .section1 {
    height: 2300px !important;
  }
}
@media (max-width: 400px) {
  .section2 .swiper-button-prev {
    left: 170px !important;
    bottom: 150px !important;
  }
  .section2 .swiper-button-next {
    left: 170px !important;
    bottom: 40px !important;
  }
  .section2 .swiper-button-prev::after {
    width: 270px !important;
  }
  .section2 .swiper-button-next::after {
    width: 270px !important;
  }
}
@media (max-width: 380px) {
  .section2 .swiper-button-prev {
    left: 160px !important;
    bottom: 150px !important;
  }
  .section2 .swiper-button-next {
    left: 160px !important;
    bottom: 40px !important;
  }
  .section2 .swiper-button-prev::after {
    width: 260px !important;
  }
  .section2 .swiper-button-next::after {
    width: 260px !important;
  }
  .navbar_logo {
    width: 180px !important;
  }
  .slider_image {
    width: 80% !important;
  }
  .swiper_col {
    justify-content: unset !important;
  }
}
@media (max-width: 375px) {
  .section2 .swiper-button-prev {
    left: 160px !important;
    bottom: 150px !important;
  }
  .section2 .swiper-button-next {
    left: 160px !important;
    bottom: 40px !important;
  }
  .section2 .swiper-button-prev::after {
    width: 240px !important;
  }
  .section2 .swiper-button-next::after {
    width: 240px !important;
  }
  .section1 {
    height: 2300px !important;
  }
}
@media (max-width: 360px) {
  .section2 .swiper-button-prev {
    left: 160px !important;
    bottom: 150px !important;
  }
  .section2 .swiper-button-next {
    left: 160px !important;
    bottom: 40px !important;
  }
  .section2 .swiper-button-prev::after {
    width: 220px !important;
  }
  .section2 .swiper-button-next::after {
    width: 220px !important;
  }
  .section1 {
    height: 2250px !important;
  }
  .section1_column {
    height: unset !important;
  }
}
@media (max-width: 330px) {
  .section2 .swiper-button-prev {
    left: 140px !important;
    bottom: 150px !important;
  }
  .section2 .swiper-button-next {
    left: 140px !important;
    bottom: 40px !important;
  }
  .section2 .swiper-button-prev::after {
    width: 220px !important;
  }
  .section2 .swiper-button-next::after {
    width: 220px !important;
  }
}
@media (max-width: 370px) {
  .section8_column::after {
    display: none !important;
  }
  .section8_column1::after {
    display: none !important;
  }
  .section3_title {
    line-height: 50px !important;
  }
  .section1__container {
    max-width: 300px;
  }
  /*   .section5_text1 {
    width: unset !important;
    word-break: break-all;
  } */
  /*   .section5 {
    height: 1500px !important;
  } */
  /*   .section6_text2 {
    font-size: 30px !important;
    width: 300px !important;
  } */
  .section5_container {
    max-width: 300px;
  }
  .section5_container {
    max-width: 300px;
  }
  /*   .col2:nth-child(2) {
    height: 400px !important;
  } */
  .column123 {
    height: 400px !important;
    display: flex !important;
  }
  .section1_column-text1 {
    width: unset;
    word-break: break-all;
  }
  .section1_column-text1 {
    width: unset !important;
    word-break: break-all;
  }
  .section1_column-text4 {
    width: inherit !important;
  }

  .hero {
    height: 600px;
  }
}

@media (max-width: 348px) {
  .navbar_logo {
    width: 160px !important;
  }
}
@media (max-width: 330px) {
  .hero {
    height: 600px;
  }
  .navbar_logo {
    width: 150px !important;
  }
  /*   .section5_title {
    font-size: 40px;
    line-height: 40px;
  } */
}

/* max 320 px */
